.summer-palette>div {
    height: 100px;
    width: 100px;
    display: flex;
}

.summer-style {
    display: flex;
}
.sunny-yellows {
    display: flex;
}
.beachy-neutrals {
    display: flex;
}

.summer-label {
    margin-left: 10%; width: max-content;
    text-align: center
}

/*.ocean-blues>div {*/

/*    height: 100px;*/
/*    width: 100px;*/
/*}*/