#click-me-div {
    height: 100%;
    display: flex;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

#large-hero-scene {
    /*margin: 5px;*/
    width: 646px;
    height: 280px;
    background-color: red;
    border-radius: 12px;

}

#smaller-hero-scene-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 325px;
}

.smaller-hero {
    margin: 5px;
    width: 45%;
    height: 45%;
    border-radius: 12px;
}

.smaller-hero:nth-child(1) {
    background-color: green;
}

.smaller-hero:nth-child(2) {
    background-color: blue;
}

.smaller-hero:nth-child(3) {
    background-color: purple;
}

.smaller-hero:nth-child(4) {
    background-color: darkslategray;
}

#click-me-div > div {
    display: flex;
    height: 100%;
}

.click-me-div__row > div {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click-me-div__row > * > * {
    margin: 0 auto;
}





