/* ******************************************************************************************************************
                                            Body & Default tag preferences
/* ******************************************************************************************************************/
body {
    background: linear-gradient(to bottom right, #ffffff, antiquewhite);
}

header {
    width: 100%;
    height: 325px;
}

footer {
    width: 100%;
    margin: 10px 0 0 0;
}

button:hover {
    cursor: pointer;
}

nav {
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 10px 0 5px 0;
    background: rgba(34, 37, 41, 1) ;
}
/* ******************************************************************************************************************
                                                        Navbar
/* ******************************************************************************************************************/


.navbar-left img{
    margin-left: 12px;
    max-width: 80%;
    max-height: 80%;
}

.navbar-container {
    max-height: 100%;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.navbar-left,
.navbar-cart {
    flex-basis: 16%;
    display: flex;
    align-items: center;
}

.navbar-center {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.navbar-cart {
    /*padding-left: 10px;*/
    justify-content: center;
}

.navbar-cart a {
    background-color: #fff;
    color: #333;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.navbar-cart p {
    margin: 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}


/* search icon (magnifying glass) */
.icon-rtl {
    padding-right: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 20px;
}

.input-group {
    margin: 0;
}



#findsummer-nav-logo {
    width: 231px;
    height: available;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-stretch: 50%;
    font-family: Knewave, sans-serif;
    color: rgb(238, 234, 147);
    text-shadow: 0px 5px 3px black;
    -webkit-text-stroke: 1px black;
}

.ss-lite-header .row > div:nth-child(1),
.ss-lite-header .col-6.img-zero,
.ss-lite-header .col-6.bg-image,
.ss-lite-header .row:last-child > div {
    height: 100%;
}

.ss-lite-header .row > div:nth-child(2) > div {
    height: 50%;
}


/* ******************************************************************************************************************
                                                        App
/* ******************************************************************************************************************/

#app {
    padding: 15px;
    height: 100%;
}

.ss-lite-header {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 574px;
}

#click-me-div {
    height: 100%;
    display: flex;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

#click-me-div > div,
.click-me-div__row > div {
    display: flex;
    height: 100%;
}

.click-me-div__row > * > * {
    margin: 0 auto;
}

#large-hero-scene {
    width: 646px;
    height: 280px;
    border-radius: 12px;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.hover-area {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay {
    position: absolute;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}


.hover-area:hover .overlay {
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.6);
}

#large-hero-scene .hover-area .top-button {
    /*margin-top: 40%;*/
    /*margin-left: 40%;*/

    margin-top: calc((100% - 44px) / 2);
    margin-left: calc((100% - 139px) / 2);

}

.smaller-hero .hover-area .top-button {
    margin-top: calc((100% - 44px) / 2);
    margin-left: calc((100% - 93px) / 2);
}

.top-button {
    padding: 10px 30px;
    position: absolute;
    /*margin-top: 55%;*/
    /*margin-left: 30%;*/
    /*top: 50%;*/
    /*left: 50%;*/
    border-radius: 30px;
    color: white;
    transition: all 0.3s ease-in-out;
    z-index: 30;
    visibility: hidden;
    background: orange;
}

.top-button:hover {
    cursor: pointer;
}

.top-button:hover,
.hover-area:hover .top-button:hover {
    background: white;
    color: orange;
}

#smaller-hero-scene-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 280px;
}

.smaller-hero {
    margin: 2px;
    width: 45%;
    height: 46%;
    border-radius: 12px;
    position: relative;
}

.smaller-hero:nth-child(-n+4) {
    position: relative;
}


.img-container {
    position: absolute;
}

.link-div a:hover, #findsummer-nav-logo:hover {
    cursor: pointer;
}

.img-zero {
    background-size: cover;
    position: absolute;
    border-radius: inherit;
    flex-basis: 100%;
    height: 100%;
    width: 100%;
}

.img-one, .img-two, .img-three, .img-four {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: absolute;
}

.hover-area:hover .top-button {
    transition: all 0.3s ease-in-out;
    visibility: visible;
}

.prev-page-button, .next-page-button {
    color: white;
    background: rgba(35,37, 41, 1);
    margin: 0 5px;
    border: none;
}

.page-num {
    font-family: Knewave, sans-serif;
}

.page-num:active {
    text-decoration: none;
}

.pagination-section div {
    margin: 10px 0;
}

.dropdown-menu {
    bottom: calc(-100% - 10px);
}
.dropdown * {
    background: rgba(34, 37, 41, 1);
    color: white;
}

.card-container {
    margin: 0;
    width: 270px;
    display: flex;
    justify-content: center;
}

.product-card {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card img {
    width: 100%;
    height: 295px;
}

.card {
    height: auto;
    padding: 8px 12px;
    width: 100%;
}

.card-container .product-card {
    padding: 3%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.42);
    width: 300px;
}

.card-container:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(241, 241, 240, 1);
}

.card-container .product-card span {
    text-align: center;
    margin: 0;
}

.add-to-cart-button {
    color: white;
    background: orange;
    width: 75%;
    padding: 3%;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
}

.add-to-cart-button:hover {
    transform: scale(1.03);
}

.inner-card {
    width: 75%;
}

.percent-off {
    font-weight: bold;
    color: red;
}

#product-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(275px, auto));
    grid-gap: 5px;
    justify-content: center;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}